body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
img {
  height: 200px;
  width: 200px;
}
.pictures {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
